<h1>New Track</h1>

<form action="/tracks" method="post">
  <label for="name">Name:</label>
  <input name="name">
  <label for="artist">Artist:</label>
  <input name="artist">
  <label for="url">URL:</label>
  <input name="url">
  <input type="submit">
</form>