<h1><%= @playlist.name %></h1>

<div>
  <ul>
    <li><a href="#">Play</a></li>
    <!-- <li><%= link_to("Edit", edit_track_path(@playlist.id))%></li> -->
    <li><%= link_to("Delete", playlist_path(@playlist.id), method: :delete, confirm: "Are you sure you want to delete this?")%></li>
  </ul>
</div>

<br>
<br>

<div>
  <ul class="nav">
    <nav>
    <li><%= link_to("Back to index", playlists_path) %></li>
    </nav>
  </ul>
</div>